.TableRow{
    background: #332272;
border-radius: 4px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.03em;
border-style:none;
color: #FFFFFF;

}
thead tr{
    vertical-align: middle;
    align-items: center;
    height: 50px;
}
tbody tr{
    vertical-align: middle;
    align-items: center;
    height: 50px;
    border-style:none;
    background: #ECECEC;
border-radius: 4px;

}
.pincode{
    padding-top: 13px;
}
tbody tr:nth-child(even) {
    background: #F9F9F9;
  }
  .logoImages{
    width: 196px;
    height: 81px;
    position: absolute;
    display: inline-flex;
    right: 34px;
   
  }
  .buttonCenter{
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    right: 0px;
  }
  .GobackButtton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 28px;
    margin-right: 20px;
    margin-top: 20px;
    width: 158px;
    height: 62px;
    border-color: #FF3838 !important;
    background: #FF3838 !important;
    border-radius: 4px;
  }
  .updateButtton{
    border-color:#332272 !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 28px;  
    margin-left: 20px;
    width: 219px;
    margin-top: 20px;
    height: 62px;
    background: #332272 !important;
    border-radius: 4px;
  }